<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="drupress">
  <description>PHP CodeSniffer configuration for the Drupress suite.</description>

  <file>modules</file>
  <file>themes</file>

  <arg name="extensions" value="php,module,install,theme,inc"/>
  <arg name="cache" value=".phpcs-cache"/>
  <arg value="p"/>

  <rule ref="Drupal"/>
  <rule ref="DrupalPractice"/>
</ruleset>
